<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exam_16T1021095_DataLayers.Properties.Settings.ExamDBConnectionString"
            connectionString="Data Source=DESKTOP-Q6EAEVP\SQLEXPRESS;Initial Catalog=ExamDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>