
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Bài thi index</h2>
@if (ViewBag.listAcc!=null) {
    foreach (var item in ViewBag.listAcc)
    {
        <p>@item.UserName</p>
    }
}

